/* src/index.css */
@import "tailwindcss";

/* Anda bisa menambahkan custom variable di block @theme ini jika diperlukan nanti */
@theme {
  --color-brand-red: #dc2626; /* Contoh warna merah untuk PRIMA MOTOR */
}

/* Base styling */
@layer base {
  body {
    /* Menggunakan variable warna bawaan Tailwind v4 untuk background */
    background-color: var(--color-gray-100); 
  }
}

/* Hilangkan spinner input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}